body{
    font-family: Arial, Helvetica, sans-serif;
    border: 0;
    background-image: url(../img/temp/back.jpg);
    background-repeat: no-repeat;
    font-size: 14px;
}
a{
    text-decoration: none;
}
.left{
    float: left;
}
.post{
    width: 325px;
    position: absolute;
    top: 10%;
    right: 2%;
}
.logo img{
    width: 60%;
}
.sologan{
    position: absolute;
    top: 35%;
    left: 10%;
}
.sologan h1{
    font-size: 50px;
    color: #fff;
    line-height: 10px;
}
.sologan p{
    color: #fff;
    font-size: 30px;
}
.footer{
    color:#fff;
    position: absolute;
    bottom: 2%;
    left: 5%;
}
.right{
    float: right;
    position: absolute;
    right: 3%;
    top: 2%;
    height: 580px;
    width: 300px;
    background-color: rgba(255, 255, 255,0.9);
    border-radius: 25px;
    padding: 50px;
}
table,tr,td{
    width:80%ï¼›
}
tr{
    height: 10px;
}
caption{
    font-size: 32px;
    text-align: left;
    font-weight: 800;
    position: absolute;
    top: 1%;
}
label{
    color: #333;
    text-align: right;
    margin-right: 20px;
    width: 10%;
}
input{
    color: #000;
    height: 40px;
    border: 1px solid #ccc;
    width: 70%;
    border-radius: 5px;
}
.input-mini{
    color: #000;
    height: 40px;
    border: 1px solid #ccc;
    width: 40%;
    border-radius: 5px;
    box-sizing: border-box;
    vertical-align: top;
    margin-right: 5%;
}
.get{
    border-radius: 5px;
    background-color: #fff;
    border: 1px solid #ccc;
    color: #333;
    text-align: center;
    height: 40px;
}
.resgit{
    width: 100%;
    height: 40px;
    border: none;
    border-radius: 20px;
    background-color: royalblue;
    color: #fff;
    font-size: 14px;
    font-weight: bold;
}
.check{
    line-height: 14px;
    width: 14px;
    height: 14px;
}